.step(data-title='SMS and MMS Marketing Notifications')
  :markdown
    ## SMS and MMS Marketing Notifications

    Ready to implement SMS and MMS marketing notifications? Here's how it works
    at a high level:

    1. A possible customer sends an SMS to a Twilio phone number you advertise
       either online, on printed propaganda or on TV advertising.
    2. Your application confirms that the user wants to receive SMS and MMS
       notifications from your application.
    3. An administrator or marketing campaign manager uses a web form to craft a
       message that will go out to all subscribers via SMS/MMS message.

    ## Building Blocks

    To get this done, you'll be working with the following Twilio APIs:

    * [TwiML](//www.local.twilio.com/docs/api/twiml) and the [<Message>
    Verb](/docs/api/twiml/sms/message): We'll use TwiML to manage interactions
    initiated by the user via SMS.
    * [Messages Resource](/docs/api/rest/sending-sms): We will use the REST API
    to broadcast messages out to all subscribers.

    Let's get started! Click the right arrow to move on to the next step of the
    tutorial.

.step(
  data-title='Subscriber',
  data-file='MarketingNotifications.Web/Models/Subscriber.cs')
  :markdown
    ## Subscriber

    In order to send out marketing notifications to a subscriber, we need to
    provide the right model.

    * The `PhoneNumber` will allow the application to know where to send the
    notifications.
    * `Subscribed` lets the application identify which subscribers are
    active, only active subscribers will receive notifications.

    **See Also**
    * [Code First Migrations](//msdn.microsoft.com/en-us/data/jj591621.aspx)

.step(
  data-title='Handling Incoming Messages',
  data-file='MarketingNotifications.Web/Controllers/SubscribersController.cs'
  data-highlight='20-34')
  :markdown
    ## Handling Incoming Messages

    This is the endpoint that will be called every time our application receives
    a message.

    It relies on a `MessageCreator` abstraction that produces the message that
    will be returned to the sender. It hides the complexity behind creating new
    subscribers.

    **See Also:**
    * [Introduction to Async/Await on ASP.NET](//msdn.microsoft.com/en-us/magazine/dn802603.aspx)
    * [Twilio TwiML](//github.com/twilio/twilio-csharp/wiki/Twilio.TwiML)

.step(
  data-title='Creating Subscribers',
  data-file='MarketingNotifications.Web/Domain/MessageCreator.cs'
  data-highlight='17-36')
  :markdown
    ## Creating Subscribers

    We begin by getting the user's phone number from the incoming [Twilio
    request](/docs/api/twiml/sms/twilio_request). Now, we need to find a
    `Subscriber` model with that phone number.

    If there's no subscriber with this phone number, we create one, save it, and
    respond with a message asking to reply "add" back, to confirm their desire
    to receive messages from us.

    And that's all we want at this step! We've created a `Subscriber` model to
    keep track of the people that have requested our messages. We also have saved
    them in the database when they text us for the first time.

.step(
  data-title='Manage Subscriptions',
  data-file='MarketingNotifications.Web/Domain/MessageCreator.cs'
  data-highlight='37-57')
  :markdown
    ## Manage Subscriptions

      We want to provide the user with two SMS commands to manage their
      subscription status: `add` and `remove`.  These commands will
      toggle a boolean flag for their `Subscriber` record in the database, and
      will determine whether or not they want to receive messages from our marketing
      campaign. Because we want to respect our users' desires, we don't opt them in
      automatically -rather, we have them confirm that they want to receive our messages.

      To make this happen, we will need to update the controller logic which
      handles the incoming text message to do a couple things:

      * If the user is a person already in the database, parse the message
      they sent to see if it's a command we recognize.
      * If it is a `add` or `remove` command, update their
      subscription status in the database.
      * If it is a command we don't recognize, send them a message explaining
      available commands.

.step(
  data-title='Sending Notifications',
  data-file='MarketingNotifications.Web/Controllers/NotificationsController.cs'
  data-highlight='32-54')
  :markdown
    ## Sending Notifications

    On the server, we grab the message's text and image URL, then loop through all
    Subscribers and call the method `Send` on our `NotificationService` domain object
    to send the message.

    When the messages are on their way, we redirect them back to the same form
    with a [ViewBag
    Property](//msdn.microsoft.com/en-us/library/system.web.mvc.controllerbase.viewbag.aspx)
    message containing feedback about the messaging attempt.

.step(
  data-title='Sending SMS or MMS Notifications',
  data-file='MarketingNotifications.Web/Domain/NotificationService.cs'
  data-highlight='11-34')
  :markdown
    ## Sending SMS or MMS Notifications

    Now that we have a list of subscribers for our awesome SMS and MMS content,
    we need to provide our marketing team some kind of interface to send out
    messages.

    When the model object is loaded, it creates a [Twilio REST API
    client](https://github.com/twilio/twilio-csharp) that it can be used to send SMS and
    MMS messages. The client requires your Twilio account credentials (an
    account SID and auth token), which can be found [in the account
    portal](/user/account).

    Next all we need to do is call `_client.SendMessageAsync` on the client object in
    order to send our message. The Twilio Message API call requires a 'From' and
    'To' parameter, and either a 'Body' or a 'MediaUrl' attribute (or both).

.step(data-title='Where to Next?')
  :markdown
    ## Where to Next?

    That's it! We've just implemented a an opt-in process and an administrative
    interface to run an SMS and MMS marketing campaign. Now all you need is
    killer content to share with your users via text or MMS.

    If you're a .NET developer working with Twilio, you might enjoy these
    other tutorials:

    [**IVR: Phone Tree**](//www.twilio.com/docs/tutorials/walkthrough/ivr-phone-tree/csharp/mvc)

    [**Automated Survey**](//www.twilio.com/docs/tutorials/walkthrough/automated-survey/csharp/mvc)

    ### Did this help?

    Thanks for checking this tutorial out! If you have any feedback
    to share with us, we'd love to hear it.
    [Contact the Twilio Developer Education Team](mailto:deved-oss@twilio.com) to let us know what you think.
